n8n/diet-plan-workflow.json
{
  "name": "Fit Hindu — AI Diet Plan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diet-plan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 300],
      "webhookId": "fithindu-diet-plan"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "request_id", "value": "={{ $json.body.request_id }}", "type": "string" },
            { "id": "a2", "name": "answers", "value": "={{ $json.body.answers }}", "type": "object" },
            { "id": "a3", "name": "secret_in", "value": "={{ $json.headers['x-fithindu-secret'] }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.secret_in }}",
              "rightValue": "REPLACE_SHARED_SECRET",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Check Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://REPLACE_SUPABASE_HOST/rest/v1/diet_plan_requests?id=eq.{{ $('Extract Input').item.json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "REPLACE_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "Bearer REPLACE_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'generating' }) }}",
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Set Generating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "REPLACE_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-5', max_tokens: 2000, system: 'You are a nutrition assistant for a Hindu wellness app. From the user answers, produce a practical, regional, culturally-appropriate diet plan. GENERAL WELLNESS ONLY — never medical advice, never disease-cure claims. Respect the diet_type strictly (veg/sattvic/egg/nonveg). Reply with ONLY valid JSON, no prose, no code fences, matching exactly: {\\\"summary_hi\\\":string,\\\"summary_en\\\":string,\\\"daily_kcal\\\":number,\\\"days\\\":[{\\\"label_hi\\\":string,\\\"label_en\\\":string,\\\"meals\\\":[{\\\"meal_time\\\":\\\"breakfast|lunch|snack|dinner\\\",\\\"title_hi\\\":string,\\\"title_en\\\":string,\\\"items_hi\\\":[string],\\\"items_en\\\":[string],\\\"kcal\\\":number}]}]}', messages: [{ role: 'user', content: 'User answers (JSON): ' + JSON.stringify($('Extract Input').item.json.answers) }] }) }}",
        "options": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Anthropic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse the model's JSON out of the Anthropic response.\nconst res = $input.first().json;\nlet text = '';\ntry {\n  text = (res.content || []).map(b => b.text || '').join('').trim();\n} catch (e) {\n  text = '';\n}\n// strip accidental code fences\ntext = text.replace(/^```(json)?/i, '').replace(/```$/,'').trim();\nlet plan = null, failed = false, error = null;\ntry {\n  plan = JSON.parse(text);\n} catch (e) {\n  failed = true;\n  error = 'AI did not return valid JSON: ' + (e.message || 'parse error');\n}\nreturn [{ json: { plan, failed, error, request_id: $('Extract Input').item.json.request_id } }];"
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "p1",
              "leftValue": "={{ $json.failed }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "false", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://REPLACE_SUPABASE_HOST/rest/v1/diet_plan_requests?id=eq.{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "REPLACE_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "Bearer REPLACE_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'ready', plan: $json.plan }) }}",
        "options": {}
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "Save Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://REPLACE_SUPABASE_HOST/rest/v1/diet_plan_requests?id=eq.{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "REPLACE_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "Bearer REPLACE_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', error: $json.error }) }}",
        "options": {}
      },
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Save Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {}
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'invalid secret' }) }}",
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Reject Secret",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [0, 460]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Input", "type": "main", "index": 0 }]] },
    "Extract Input": { "main": [[{ "node": "Check Secret", "type": "main", "index": 0 }]] },
    "Check Secret": {
      "main": [
        [{ "node": "Set Generating", "type": "main", "index": 0 }],
        [{ "node": "Reject Secret", "type": "main", "index": 0 }]
      ]
    },
    "Set Generating": { "main": [[{ "node": "Anthropic", "type": "main", "index": 0 }]] },
    "Anthropic": { "main": [[{ "node": "Parse Plan", "type": "main", "index": 0 }]] },
    "Parse Plan": { "main": [[{ "node": "Parse OK?", "type": "main", "index": 0 }]] },
    "Parse OK?": {
      "main": [
        [{ "node": "Save Ready", "type": "main", "index": 0 }],
        [{ "node": "Save Failed", "type": "main", "index": 0 }]
      ]
    },
    "Save Ready": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] },
    "Save Failed": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
